{% extends 'Construction/base.html' %}
{% load static %}
{% block title %}Testimonials{% endblock %}

{% block content %}

   <div id="banner-area" class="banner-area" style="background-image:url({% static 'kte/images/banner/banner1.jpg' %})">
      <div class="banner-text">
         <div class="container">
            <div class="row">
               <div class="col-xs-12">
                  <div class="banner-heading">
                     <h1 class="banner-title">Testimonials</h1>
                     <ol class="breadcrumb">
                        <li>Home</li>
                        <li>Company</li>
                        <li><a href="#">Testimonials</a></li>
                     </ol>
                  </div>
               </div><!-- Col end -->
            </div><!-- Row end -->
         </div><!-- Container end -->
      </div><!-- Banner text end -->
   </div><!-- Banner area end --> 


   <section id="main-container" class="main-container">
      <div class="container">
         <div class="row text-center">
            <h3 class="section-sub-title">What People Said</h3>
         </div><!--/ Title row end -->


         <div class="row">
            <div class="col-md-4 col-sm-6">
               <div class="quote-item quote-border">
                  <div class="quote-text-border">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                  </div>

                  <div class="quote-item-footer">
                     <img class="testimonial-thumb" src="{% static 'kte/images/clients/testimonial1.png' %}" alt="testimonial">
                     <div class="quote-item-info">
                        <h3 class="quote-author">Gabriel Denis</h3>
                        <span class="quote-subtext">Chairman, Okt Industries</span>
                     </div>
                  </div>
              </div><!-- Quote item end -->
            </div><!-- End col md 4 -->

            <div class="col-md-4 col-sm-6">
               <div class="quote-item quote-border">
                  <div class="quote-text-border">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                  </div>

                  <div class="quote-item-footer">
                     <img class="testimonial-thumb" src="{% static 'kte/images/clients/testimonial2.png' %}" alt="testimonial">
                     <div class="quote-item-info">
                        <h3 class="quote-author">Weldon Cash</h3>
                        <span class="quote-subtext">CEO, First Choice Group</span>
                     </div>
                  </div>
              </div><!-- Quote item end -->
            </div><!-- End col md 4 -->

            <div class="col-md-4 col-sm-6">
               <div class="quote-item quote-border">
                  <div class="quote-text-border">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                  </div>

                  <div class="quote-item-footer">
                     <img class="testimonial-thumb" src="{% static 'kte/images/clients/testimonial3.png' %}" alt="testimonial">
                     <div class="quote-item-info">
                        <h3 class="quote-author">Hyram Izzy</h3>
                        <span class="quote-subtext">Director, AKT Group</span>
                     </div>
                  </div>
              </div><!-- Quote item end -->
            </div><!-- End col md 4 -->

         </div><!-- Content row end -->

      </div><!-- Container end -->
   </section><!-- Main container end -->
{% endblock %}